body {
  font-family: "Arial", sans-serif;
  background-color: #8ac1f8;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 600px;
  min-height: 60%;
  max-height: 80%;
  text-align: center;
  overflow-y: auto;
}


ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
}

button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  width: 80%;
  transition: background-color 0.3s ease;
}
.btn{
    background-color:#4caf50 ;
}
.btn:hover {
  background-color: #4caf50;
}
button:hover {
  background-color: red;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
  border-color: #4caf50;
}

input[type="text"]::placeholder,
input[type="date"]::placeholder {
  color: #ccc;
}
